// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@import "canvas.scss";

@import "home.scss";

@font-face {
    font-family: "Akzidenz-Grotesk";
    src: url("Akzidenz-grotesk-roman.ttf") format('truetype');
}
