body {
    font-family: "Akzidenz-Grotesk";
}

#drawSurface {
    outline: 1px solid black;
}

#syncing-indicator {
    color: gray;
}

h1 {
    font-size: 24px;
}

.fa-arrow-left {
    color: gray;
}

.fas {
    vertical-align: sub;
}
