@use '_variables';

body {
    font-family: $font-family-sans-serif;
    background-color: $body-bg;
    color: $color-primary-0;
}

#drawSurface {
    outline: 1px solid black;
    background-color: #181A1B;
}

#syncing-indicator {
    color: $color-primary-4;
}

h1 {
    font-size: 24px;
}

.fa-arrow-left {
    color: $color-primary-4;
}

.fas {
    vertical-align: sub;
}

.btn-tool {
    color: $color-primary-1;
    outline-color: $color-primary-1;
}
